<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div>
      <nav class="d-flex justify-content-between">
        <div>
          <%= link_to 'Simple Airbnb', flats_path%>
        </div>
        <div>
          <%= link_to 'Add a flat', new_flat_path, class: "btn btn-primary"%>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
